.content {
    text-align: center;
    margin: auto;
    height: 100%;
    width: 100%;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #d4d4d4;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #d4d4d4;
}

input:-ms-input-placeholder {
    color: #d4d4d4;
}

input::-webkit-input-placeholder {
    color: #d4d4d4;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

html {
    height: 100%;
    font-size: 18px;
    font-family: "Microsoft Sans Serif";
}

.logo {
    width: 366px;
    height: 369px;
    position: relative;
    margin: auto;
    margin-top: -200px;
    background: url("../img/LOGO框‘@3x.png") no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
}

.logo-img {
    margin: 10%;
}

.from {
    width: 100%;
}

.input {
    width: 80%;
    background: none;
    border: none;
    outline: none;
    height: 53px;
    font-size: 38px;
    margin-left: 10px;
    padding: 0;
    top: -10px;
    vertical-align: middle;
}

.input1 {
    width: 40%;
    background: none;
    border: none;
    outline: none;
    height: 53px;
    font-size: 38px;
    margin-left: 10px;
    padding: 0;
    top: -10px;
    vertical-align: middle;

}

.btn-validCode{
    width: 200px;
    height: 50px;
    font-size: 18px;
    display: inline-block;
    background-color: white;
    border-color: #4461D9;
    border-bottom-color: #4461D9;


    position: relative;
/*    margin: 10px;
*/    margin-right: 150px;
    padding: 0 20px;
    text-align: center;
    text-decoration: none;
    /*font: bold 12px/25px Arial, sans-serif;*/

    text-shadow: 1px 1px 1px rgba(255,255,255, .22);

    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
/*
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
*/
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    -ms-transition: all 0.15s ease;
    transition: all 0.15s ease;

}

.icon {
    margin: 0 auto;
    height: 35px;
    vertical-align: middle;
}

.line {
    width: 90%;
    height: 1px;
    background: #e5e5e5;
    margin: 20px auto;
    padding: 0px;
    overflow: hidden;
}

.btn-login {
    margin-top: 20px;
    width: 900px;
    height: 185px;
    border: none;
    color: white;
    padding-bottom: 30px;
    outline: none;
    font-size: 38px;
    background: url("../img/登录按钮@3x.png");
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
}

.btn-regist
{
    margin-top: 20px;
    width: 800px;
    height: 185px;
    border: none;
    color: white;
    padding-bottom: 30px;
    outline: none;
    font-size: 38px;
    background: url("../img/登录按钮@3x.png");
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
}

.text-forget {
    display: inline-block;
    width: 40%;
    font-size: 28px;
    text-align: end;
    border: none;
    background-color: white;
}

.text-regist {
    display: inline-block;
    width: 40%;
    font-size: 28px;
    text-align: start;
    border: none;
    background-color: white;
}
.regist-from {

    width: 100%;
    margin-top: 8%;
    background: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    text-align: center;
}

.title {
    width: 100%;
    height: 50px;
    text-align: start;
    background-image: url("../img/顶部栏@3x.png");
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
}

#back {
    vertical-align: middle;
    height: 40%;
    padding: 15px;
    float: left;
}

.title-text {
    color: white;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
    margin-right: 30px;
}

.pay-content {
    background: #f6f6f6;
}

.pay-menu {
    width: 100%;
    margin-top: 10px;
    background: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    text-align: start;
}

.pay-text-f {
    display: inline-block;
    float: right;
    margin-right: 10px;
    color: #ff2742;

}

.pay-text-l {
    margin-left: 10px;
    display: inline-block;
    color: #666666;
}

.pay-type {
    font-size: 18px;
    margin-left: 50px;
}

.ali-pay {
    margin-top: 1px;
}

.wechat-pay {
    margin-top: 1px;
}

.pay-text {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    margin-left: 10px;
}

.pay-img {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    margin-left: 10px;
    height: 30px;
}

.pay-check {
    float: right;
    margin-right: 10px;
    vertical-align: middle;
    display: inline-block;
    box-sizing: border-box;
    height: 30px;
}

.pay-check input {
    opacity: 0;
}

.pay-check label:before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("../img/椭圆-1@3x.png");
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.pay-check input[type='checkbox']:checked + label:before {
    background-image: url("../img/勾选@3x.png");
    width: 30px;
    height: 30px;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
}

.pay-check input[type='checkbox']:checked + label:after {
    width: 30px;
    height: 30px;
    background-image: url("../img/勾选@3x.png");
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
}

.pay-bottom {
    position: fixed;
    background: #ffffff;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    bottom: 0;
    text-align: start;
}

.pay-text-price {
    color: #ff2742;

}
.pay-text-button {
    line-height: 45px;
    margin-left: 10px;
}

.pay {
    color: white;
    background: #ff2742;
    display: flex;
    float: right;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
}
.time{
    margin-right: 15px;
    margin-left: 15px;
    display: inline-block;
    vertical-align: middle;
}
.pay-span{
    line-height: 25px;
}
form{
    width: 100%;
    height: 100%;
}
input{
    display: inline-block;
}